<main style="display: flex">
  <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li *ngFor="let category of categories" class="nav-item">
        <a href="#" class="nav-link" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          {{ category.name }}
        </a>
      </li>
    </ul>
  </div>
  <div style="width:100%;">
    <div class="row mx-0">
      <div class="col-lg-4 col-md-6" *ngFor="let product of products">
        <div class="card d-flex flex-column align-items-center">
          <div class="card-img"> <img src="{{ product.path }}" alt=""> </div>
          <div class="card-body pt-5">
            <div class="product-name text-center">{{ product.name }}</div>
            <div class="text-muted text-center mt-auto">{{ product.detail }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
